<h1 class="mt-5">
  <% if @course %>
    Lessons of <i><%= @course.name %></i> course
  <% else %>
    Lessons not assigned to any course
  <% end %>
</h1>
<% if @lessons.any? %>
  <div class="list-group my-5">
    <% @lessons.each_with_index do |lesson, index| %>
      <%= link_to lesson_path(lesson.uuid), class: 'list-group-item list-group-item-action' do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= lesson.title %></h5>
          <small><%= "lesson ##{index + 1}" %></small>
        </div>
        <p class="mb-1"><%= lesson.description %></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="my-5">There are no lessons here</p>
<% end %>
<%= link_to 'New lesson', new_course_lesson_path(@course), class: 'btn btn-primary' %>