  <%= simple_form_for @create_lesson_cmd, as: :lesson, url: course_lessons_path(@course) do |f| %>
    <%= f.input :lesson_uuid, as: :hidden %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.button :submit, 'Create new lesson' %>
  <% end %>
