<div class="row">
  <div class="col">
    <h1 class="mt-5"><%= @lesson.title %></h1>
    <p><%= @lesson.description %></p>
  </div>
  <div class="col">
    <h2 class="mt-5">Materials to download:</h2>
    <% if @lesson.downloadable_materials.any? %>
      <div class="list-group my-5">
        <% @lesson.downloadable_materials.each do |material| %>
          <%= link_to "<i class='fa fa-download'></i> #{material.attachment_name}".html_safe, rails_blob_path(material.attachment, disposition: 'attachment'), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
    <% else %>
      <p class="my-5">There is nothing to download</p>
    <% end %>

    <%= simple_form_for @add_material_command, as: :downloadable_material, url: add_downloadable_material_lesson_path(@lesson), method: 'put' do |f| %>
      <%= f.input :lesson_uuid, as: :hidden %>
      <%= f.input :attachment_name %>
      <%= f.input :attachment, as: :file, label: false, input_html: {data: {direct_upload_url: '/rails/active_storage/direct_uploads'}} %>
      <%= f.button :submit, 'Import file' %>
    <% end %>
  </div>
</div>