<div class="album py-5">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title><%= course.name %></title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= course.name %></text>
          </svg>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'Show lessons', course_lessons_path(course), class: 'btn btn-sm btn-outline-secondary' %>
              </div>
              <small class="text-muted"><%= pluralize(course.lessons_count, 'lesson') %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'New course', new_course_path, class: 'btn btn-primary' %>
<%= link_to 'Not assgined lessons', course_lessons_path, class: 'btn btn-secondary float-right' %>