<%= simple_form_for @create_course_cmd, as: :course, url: courses_path do |f| %>
  <%= f.input :course_uuid, as: :hidden %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit, 'Create new course' %>
<% end %>