<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Courses</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="theme-color" content="#563d7c">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body>

<main role="main">
  <div class="container">
    <%= render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder %>

    <div id="alerts">
      <% flash.each do |name, msg| %>
        <% (msg.is_a?(Array) ? msg : [msg]).each do |single_msg| %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
            <%= content_tag :div, single_msg.html_safe, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</main>
</body>
</html>
